.teal {
    color: teal;
}
.featured-section {
    background: White;
    margin-top: 40px
}
body {
    background-image: url('C:\Users\scott\OneDrive\Desktop\images\ignasi_pattern_s.png');
   }
.teal { 
    font: teal;
}
