.teal {
    color: teal;
}
#featured-section {
    display: inline-block;
    background: #ffffff;
    position: absolute;
    padding: 20px;
    margin-left: 5px;
    margin-right: 500px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 750px; 
    height: 600px;    
}
.teal { 
    font: teal;
}
.navbar-light .navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24pt;
    font-weight: strong;           
    background:teal;
    color: white;   
}
.img-thumbnail {
    float: left;
    margin: 8px;
}
.navbar {
    max-width: 100%;
    margin-top: 0;
}
 .card {
     display: inline-block;
     margin-left: 5px;
     margin-right: 500px;
}   
.card-title {
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    font-weight: strong;
    margin-top: 10px;
    max-width: 99%;
}

    .footer{
    height: 50px;
    bottom: 0%;
    background-color:#696969;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    font: teal;
    opacity: 0.5;
    text-align: center;
    border-top-style: solid;
    border-top-color: teal 
}
.form {
    width: 100%;
}
.form-title {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    font-weight: strong;
    margin-top: 10px;
    max-width: 98%;
}

.form-group{
    max-width: 98% 
}
img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }







