.teal {
    color: teal;
}
#featured-section {
    position: relative;
    background: #ffffff;
    padding: 20px;
    padding-bottom: 10px;
    max-width: 100%; 
    max-height: 100%;    
}
.teal { 
    font: teal;
}
.navbar-light .navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24pt;
    font-weight: strong;           
    background:teal;
    color: white;   
}
.img-thumbnail {
    float: left;
    margin: 8px;
}
.navbar {
    max-width: 100%;
    margin-top: 0;
}
 .card {
     display: inline-block;
     margin-left: 5px;
     margin-right: 500px;
}   
.card-title {
    font-size: 28pt;
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    font-weight: strong;
    margin-top: 10px;
    max-width: 99%;
}

    .footer{
    height: 30px;
    bottom: 0%;
    background-color:#696969;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    font: teal;
    opacity: 0.5;
    text-align: center;
    border-top-style: solid;
    border-top-color: teal 
}

#form-featured-section {
    display: inline-block;
    background: #ffffff;
    position: absolute;
    padding: 20px;
    margin-left: 5px;
    margin-right: 500px;
    margin-top: 20px;
    margin-bottom: auto;
    width: 750px; 
    height: 450px; 
}

.form-input {
   width: 800px;
}
.form-title {
    font-family: Arial, Helvetica, sans-serif;
    color: teal;
    font-weight: strong;
    margin-top: 10px;
    max-width: 98%;
}

.form{
    max-width: 100% 
}
.portfolio-img-thumbnail {
    display: block; margin: auto;
    width: 500px;
    height: 500px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid;
    border-color: #696969;
}

.portfolio-featured-section {
    display: inline-block;
    background: #ffffff;
    position: absolute;
    max-width: 2000px; 
    max-height: 2000px;    
}

  .portfolio {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px
  }


  
  

